@import "main_banner";
body {
  background-color: black;
}
.inner {
  position: relative;
  width: 100%;

  .section2 {
    position: relative;
    top: 615px;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: 2;

    .main {
      margin-left: 75px;
      .main-title {
        font-size: 35px;
      }
    }
    .sub {
      margin-left: 75px;
      .sub__detail {
        .title {
          font-size: 25px;
          line-height: 2;
          height: 44px;
        }
        .albums {
          height: 230px;

          .swiper-slide {
            min-width: 230px;
            margin-right: 20px;
            display: flex;

            .test {
              min-width: 230px;
              height: 230px;
              opacity: 0.5;
              border-radius: 15px;
              background-image: url(../img/main_album/main_album1.png);
              background-size: cover;
              z-index: 5;
            }
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          top: 200px;
          color: white;
          opacity: 0.5;
        }
      }
    }
  }
}
