@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #ffffff;
}

input {
  all: unset;
}

header {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  background-color: #000000;
  padding: 10px 20px;
  z-index: 999;
}
header .header__logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  margin-left: 10px;
}
header img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}

.menus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-left: 20px;
}
.menus a {
  color: #ffffff;
  font-size: 15px;
}

.ex-menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 300px;
  height: 30px;
}
.ex-menu .search {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  width: 0;
  height: 25px;
  z-index: 1;
  margin-right: 20px;
  transition: 0.5s;
  transform-origin: right;
  transition-timing-function: ease;
  z-index: 1;
  color: #ffffff;
  font-size: 15px;
  text-indent: 2rem;
}
.ex-menu .search::-moz-placeholder {
  font-size: 12px;
  text-align: left;
}
.ex-menu .search::placeholder {
  font-size: 12px;
  text-align: left;
}
.ex-menu .search.on {
  width: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
}
.ex-menu .search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 160px;
  transition: 0.5s;
  transform-origin: right;
  transition-timing-function: ease;
  z-index: 3;
}
.ex-menu .search__icon.on {
  left: 6px;
}
.ex-menu .pop-up {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 78px;
}
.ex-menu a {
  color: #ffffff;
}
.ex-menu .login {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  right: 10px;
  border-radius: 5px;
  background-image: url("../img/netflix_logo/nav_logo/netflixMusic_default-login.png");
  background-size: cover;
  background-position: center;
}

.section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}
.section1 .bannerSwiper {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.section1 .bannerSwiper .swiper-button-next,
.section1 .bannerSwiper .swiper-button-prev {
  color: #dedede;
}
.section1 .bannerSwiper .swiper-pagination-bullet-active {
  background-color: #e50914 !important;
}
.section1 .bannerSwiper .swiper-slide {
  padding: 0 75px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: inherit;
}
.section1 .bannerSwiper .swiper-slide:nth-child(1) {
  background-image: url(../img/main_banner/main_banner1.png);
}
.section1 .bannerSwiper .swiper-slide:nth-child(2) {
  background-image: url(../img/main_banner/main_banner2@2x.png);
}
.section1 .bannerSwiper .swiper-slide:nth-child(3) {
  background-image: url(../img/main_banner/main_banner3@2x.png);
}
.section1 .bannerSwiper .swiper-slide:nth-child(4) {
  background-image: url(../img/main_banner/main_banner4@2x.png);
}
.section1 .bannerSwiper .swiper-slide .banner-box {
  text-align: left;
  display: block;
}
.section1 .bannerSwiper .swiper-slide .banner-box .main-banner-title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 24px;
  letter-spacing: -0.25px;
}
.section1 .bannerSwiper .swiper-slide .banner-box span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.section1 .bannerSwiper .swiper-slide .banner-box p {
  font-size: 14px;
  font-weight: 300;
  color: #e6e6e6;
  margin: 12px 0 30px 0;
  line-height: 1.25rem;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box {
  display: block;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box .btn {
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box .btn--play {
  background-color: #e50914;
  color: #fff;
  margin-right: 6px;
}
.section1 .bannerSwiper .swiper-slide .banner-box .btn-box .btn--detail {
  background-color: #383131;
  color: #fff;
}

body {
  background-color: black;
}

.inner {
  position: relative;
  width: 100%;
}
.inner .section2 {
  position: relative;
  top: 590px;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 2;
}
.inner .section2 .main {
  margin-left: 75px;
}
.inner .section2 .main .main-title {
  font-size: 35px;
}
.inner .section2 .sub .sub__detail .title {
  font-size: 25px;
  line-height: 2;
}
.inner .section2 .sub .sub__detail .swiper-zone {
  position: relative;
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums {
  position: absolute;
  width: 100vw;
  height: 300px;
  bottom: 0;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide .album-box {
  width: 200px;
  height: 200px;
  display: block;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: inherit;
  border-radius: 15px;
  transition: 0.5s;
  transition-delay: 0.3s;
  transform-origin: center;
  cursor: pointer;
  z-index: 1;
}
.inner .section2 .sub .sub__detail .swiper-zone .albums .swiper-wrapper .swiper-slide .album-box.on {
  transform: scale(1.5);
  z-index: 999;
}
.inner .section2 .sub .sub__detail .swiper-button-prev,
.inner .section2 .sub .sub__detail .swiper-button-next {
  top: 250px;
  color: white;
  opacity: 0.8;
}
.inner .section2 .sub .sub__detail .swiper-button-prev.a,
.inner .section2 .sub .sub__detail .swiper-button-next.a {
  top: 600px;
  color: white;
  opacity: 0.8;
}

.chartSwiper .swiper-button-next, .chartSwiper .swiper-button-prev {
  color: #dedede;
}
.chartSwiper .swiper-button-next.swiper-button-disabled,
.chartSwiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.top-title {
  margin-top: 100px;
}
.top-title .inner .title {
  font-size: 38px;
  font-weight: 500;
  color: white;
  margin-bottom: 35px;
}

.chart-wrap .inner .row {
  display: flex;
}
.chart-wrap .inner .row .col {
  width: 100%;
  margin-right: 20px;
}
.chart-wrap .inner .row .col .chart-list {
  display: flex;
  position: relative;
  border-bottom: 1px solid #252525;
  width: 100%;
  padding: 15px 0px;
  cursor: pointer;
}
.chart-wrap .inner .row .col .chart-list .--album-img {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/main_album/main_album1.png);
}
.chart-wrap .inner .row .col .chart-list .--album-img .beforeHover {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  transition: 1s;
  cursor: pointer;
}
.chart-wrap .inner .row .col .chart-list .--album-img .beforeHover::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  top: 17px;
  left: 17px;
  border-left: 16px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.chart-wrap .inner .row .col .chart-list .--num {
  padding: 0px 18px 0px 15px;
  font-size: 16px;
  font-weight: 400;
}
.chart-wrap .inner .row .col .chart-list .--text-box .album-title {
  font-size: 17px;
  font-weight: 500px;
}
.chart-wrap .inner .row .col .chart-list .--text-box .album-sub-title {
  font-size: 15px;
  color: #888;
}

.inner {
  padding: 0 75px;
  width: 100%;
}/*# sourceMappingURL=style.css.map */