@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #ffffff;
}

header {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  background-color: #000000;
  padding: 10px 20px;
  z-index: 999;
}
header .header__logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  margin-left: 10px;
}
header img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
}

.menus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin-left: 20px;
}
.menus a {
  color: #ffffff;
  font-size: 15px;
}

.ex-menu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 150px;
}
.ex-menu a {
  color: #ffffff;
}
.ex-menu .login {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-image: url("../img/netflix_logo/nav_logo/netflixMusic_default-login.png");
  background-size: cover;
  background-position: center;
}

.main-inner {
  position: relative;
}

.section1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}
.section1 .swiper {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.section1 .swiper .swiper-slide {
  padding: 0 75px;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.section1 .swiper .swiper-slide .main-title {
  font-size: 80px;
  color: #fff;
}

.inner .section2 {
  position: relative;
  border: 3px solid orange;
  margin-top: -7%;
  line-height: 1.5;
}
.inner .section2 .main .main-title {
  border: 1px solid red;
  background-color: red;
  font-size: 35px;
}
.inner .section2 .sub .sub__detail .title {
  border: 1px solid blueviolet;
  font-size: 25px;
  line-height: 2;
}
.inner .section2 .sub .sub__detail .albums {
  border: 1px solid blue;
  height: 250px;
  display: flex;
}
.inner .section2 .sub .sub__detail .albums .box {
  position: relative;
  border: 1px solid red;
  border-radius: 7%;
  width: 250px;
  margin-right: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100%;
  transform: scale(1);
}
.inner .section2 .sub .sub__detail .albums .box .detail {
  display: none;
}
.inner .section2 .sub .sub__detail .albums .box:hover {
  border: 3px solid black;
  transform: scale(1.2);
  background-color: yellow;
  height: 300px;
  overflow: hidden;
}
.inner .section2 .sub .sub__detail .albums .box:hover .detail {
  display: block;
  background-color: red;
  bottom: 0;
  position: absolute;
  height: 50%;
  width: 100%;
}
.inner .section2 .sub .sub__detail .albums .box:hover .detail .buttons,
.inner .section2 .sub .sub__detail .albums .box:hover .detail .tags {
  display: flex;
  text-align: center;
  border: 1px solid green;
  padding: 10px;
}
.inner .section2 .sub .sub__detail .albums .box:hover .detail .buttons .btn,
.inner .section2 .sub .sub__detail .albums .box:hover .detail .tags .btn {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
}
.inner .section2 .sub .sub__detail .albums .box:hover .detail .buttons .btn.more,
.inner .section2 .sub .sub__detail .albums .box:hover .detail .tags .btn.more {
  position: absolute;
  right: 10px;
}
.inner .section2 .sub .sub__detail .albums .box:hover .detail .buttons .tag,
.inner .section2 .sub .sub__detail .albums .box:hover .detail .tags .tag {
  width: 50px;
  height: 30px;
  border: 1px solid yellow;
}/*# sourceMappingURL=style.css.map */